{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}


	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}


	<div>
		<div>
			<h2>
				To do List posts
			</h2>

		</div>
		<div>
			<table class="table table-striped">
				<thead>
					<td>
						ID
					</td>
					<td>
						Title
					</td>
					<td>
						Actions
					</td>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>
								{{post.id}}
							</td>
							<td>
								<a href="{{ path("post.show" , {id: post.id}) }}">
									{{ post.title }}
								</a>
							</td>
							<td>
								<a class="btn btn-danger" href="{{ path('post.delete' , {id: post.id}) }}">
									Delete
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
