<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset("build/css/bootstrap.css")}}"></link>
			<link rel="stylesheet" href="{{asset("build/css/global.css")}}"></link>
    </head>
	</html>
</link>{% endblock %}</head><body><nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{{ path('home') }}">HomeController</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
        {# Pasando variables del controller a twig #}
			<a class="nav-link" href="{{ path('custom' , {name: 'beau carnes'}) }}">greet beau carnes
				<span class="sr-only">(current)</span>
			</a>
		</li>
		
	</ul>
	
</div></nav><div class="container"> {% block body %}{% endblock %}
</div>
{% block javascripts %}
<script src="{{ asset('build/js/app.js') }}" {% endblock %} </body> </html>
